<div>
    <div class="pt-24 lg:px-64 px-6">
        <div class="lg:px-6 lg:pt-8">
            <h1 class="text-center text-2xl md:text-3xl xl:text-5xl font-semibold">Course curriculum is designed as per age group</h1>
            <p  class="text-center text-lg md:text-xl xl:text-2xl font-light pt-2">We're here to stoke your curiosity and inspire you with possibilities.</p>
            <br>
            <p class="text-center text-lg md:text-xl xl:text-2xl font-light italic ">“The mind is not a vessel to be filled, but a fire to be kindled.”</p>
        </div>
    </div>
</div>
<div>
    <div class="pt-8 lg:px-64 px-6">
        <h1 class="text-center text-2xl font-extrabold lg:text-5xl">Course <span class="underline--magical">After-Effect</span></h1>
        <p class="text-center text-xl font-light lg:text-2xl xl:text-3xl py-4">weThinkk creates a culture of learning around inquiry, curiosity, and openness to failure. All of our courses are written with these principles of learning in mind.</p>
        <div class="pt-4">
            <div class="grid grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-12 ml-8">
                <div class="flex flex-col xl:flex-row">
                    <div class="circle">1</div><div class="xl:ml-4 text-xl font-medium xl:text-2xl mt-4">Independent Thinking.</div>
                </div>
                <div class="flex flex-col xl:flex-row">
                    <div class="circle">2</div><div class="xl:ml-4 text-xl font-medium xl:text-2xl mt-4">Updated Generation Skills.</div>
                </div>
                <div class="flex flex-col xl:flex-row">
                    <div class="circle">3</div><div class="xl:ml-4 text-xl font-medium xl:text-2xl mt-4">Creative Problem Solving.</div>
                </div>
                <div class="flex flex-col xl:flex-row">
                    <div class="circle">4</div><div class="xl:ml-4 text-xl font-medium xl:text-2xl mt-4">Intentional Learning.</div>
                </div>
                <div class="flex flex-col xl:flex-row">
                    <div class="circle">5</div><div class="xl:ml-4 text-xl font-medium xl:text-2xl mt-4">Developed Sense of Responsibility.</div>
                </div>
                <div class="flex flex-col xl:flex-row">
                    <div class="circle">6</div><div class="xl:ml-4 text-xl font-medium xl:text-2xl mt-4">Valid Questioning and Exploration.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="pt-8 lg:px-64 px-6">
        <h1 class="text-center text-2xl font-extrabold lg:text-5xl">Course Structure</h1>
        <p class="text-center text-lg font-light lg:text-xl xl:text-3xl py-4">weThinkk creates a culture of learning around inquiry, curiosity, and openness to failure. All of our courses are written with these principles of learning in mind.</p>
        <div class="pt-4">
            <div class="grid grid-cols-1">
                <div class="grid xl:grid-cols-2 flex my-4">
                    <div class="flex items-center justify-center">
                        <lottie-player class="wt-img" src="https://assets1.lottiefiles.com/packages/lf20_6w1ppfov.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div>
                        <div class="">
                            <h3 class="text-3xl md:text-4xl xl:text-5xl fontbold">Critical Thinking <hr class="uk-divider-small-1"></h3>
                            <h6 class="text-base md:text-lg xl:text-xl font-light py-4">Helps kids better understand themselves, their motivation and goals. When they can deduce information to find the most important parts and apply those in life, they can change their situation and promote personal growth and overall happiness.</h6>
                            <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 grid-rows-1">
                                <div>
                                    <div class="border p-4 h-32 card3 " href="#">
                                        <img src="/img/ct.png" alt="" width="44" height="44">
                                        <h4 class="">Logical Interpretation</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ct.png" alt="" width="44" height="44">
                                        <h4 class="">Joy of Problem Solving</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ct.png" alt="" width="44" height="44">
                                        <h4 class="">Knowledge and Uncertainty</h4>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ct.png" alt="" width="44" height="44">
                                        <h4 class="">more</h4>
                                        <h6></h6>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid xl:grid-cols-2 flex my-4">
                    <div class="xl:order-last flex items-center justify-center">
                        <lottie-player class="wt-img" src="https://assets7.lottiefiles.com/packages/lf20_poz039kr.json" background="transparent" speed="1" loop autoplay></lottie-player>
                            </div>
                            <div>
                                <div class="">
                                    <h3 class="text-3xl md:text-4xl xl:text-5xl fontbold">In-Demand Skills <hr class="uk-divider-small-1"></h3>
                                    <h6 class="text-base md:text-lg xl:text-xl font-light py-4">In this digital age, it is important for the kids to understand the technological skills around them. They would be better equipped to face the future if they have the basic awareness of technology around them.</h6>
                                        <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 grid-rows-1" >
                                        <div>
                                            <div class="border p-4 h-32 card3" href="#">
                                                <img src="/img/lr.png" alt="" width="44" height="44">
                                                <h4 class="">Coding Literacy</h4>
                                                <div class="dimmer"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="border p-4 h-32 card3" href="#">
                                                <img src="/img/lr.png" alt="" width="44" height="44">
                                                <h4 class="">Finance Literacy</h4>
                                                <div class="dimmer"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="border p-4 h-32 card3" href="#">
                                                <img src="/img/lr.png" alt="" width="44" height="44">
                                                <h4 class="">People Management</h4>
                                                <div class="dimmer"></div>
                                            </div>                                
                                        </div>
                                        <div>
                                            <div class="border p-4 h-32 card3" href="#">
                                                <img src="/img/lr.png" alt="" width="44" height="44">
                                                <h4 class="">more</h4>
                                                <h6></h6>
                                                <div class="dimmer"></div>
                                            </div>                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                <div class="grid xl:grid-cols-2 flex my-4">
                    <div class="flex items-center justify-center" >
                        <lottie-player class="wt-img" src="https://assets5.lottiefiles.com/packages/lf20_3gwwwmrs.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div>
                        <div class="">
                            <h3 class="text-3xl md:text-4xl xl:text-5xl fontbold">Scientific Thinking <hr class="uk-divider-small-1"></h3>
                            <h6 class="text-base md:text-lg xl:text-xl font-light py-4">When encountered with a problem, knowing which skills to utilize, the manner in which to use them and how to work through a process in a logical fashion are essential to growth in understanding.</h6>
                                <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 grid-rows-1" >
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/st.png" alt="" width="44" height="44">
                                        <h4 class="">STEM Foundation</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/st.png" alt="" width="44" height="44">
                                        <h4 class="">Data Driven analysis</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/st.png" alt="" width="44" height="44">
                                        <h4 class="">Reflection and judgement</h4>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/st.png" alt="" width="44" height="44">
                                        <h4 class="">more</h4>
                                        <h6></h6>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid xl:grid-cols-2 flex my-4">
                    <div class="xl:order-last flex items-center justify-center">
                        <lottie-player class="wt-img" src="https://assets7.lottiefiles.com/packages/lf20_h4faydoo.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div>
                        <div class="">
                            <h3 class="text-3xl md:text-4xl xl:text-5xl fontbold">Applied Maths and Science <hr class="uk-divider-small-1"></h3>
                            <h6 class="text-base md:text-lg xl:text-xl font-light py-4">Fundamentals are extremely important in math and science, kids should to learn basic concepts with clear clarity and understanding to develop strong foundations rather than stress memorization.</h6>
                            <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 grid-rows-1" >
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ams.png" alt="" width="44" height="44">
                                        <h4 class="">Mathematical Fundamentals</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ams.png" alt="" width="44" height="44">
                                        <h4 class="">Science Essentials</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ams.png" alt="" width="44" height="44">
                                        <h4 class="">Applied Stats and Probability</h4>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/ams.png" alt="" width="44" height="44">
                                        <h4 class="">more</h4>
                                        <h6></h6>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid xl:grid-cols-2 flex my-4">
                    <div class="flex items-center justify-center" >
                        <lottie-player class="wt-img" src="https://assets4.lottiefiles.com/packages/lf20_oehhiftu.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div>
                        <div class="">
                            <h3 class="text-3xl md:text-4xl xl:text-5xl fontbold">Fundamental Skills <hr class="uk-divider-small-1"></h3>
                            <h6 class="text-base md:text-lg xl:text-xl font-light py-4">Helps kids to understand the impact of their actions and teaches them to take responsibility for their actions. Builds confidence both in spoken skills and for group collaboration and cooperation.</h6>
                            <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 grid-rows-1" >
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/fs.png" alt="" width="44" height="44">
                                        <h4 class="">Life Skills</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/fs.png" alt="" width="44" height="44">
                                        <h4 class="">Social Skills</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/fs.png" alt="" width="44" height="44">
                                        <h4 class="">Communication Skills</h4>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/fs.png" alt="" width="44" height="44">
                                        <h4 class="">more</h4>
                                        <h6></h6>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid xl:grid-cols-2 flex my-4">
                    <div class="xl:order-last flex items-center justify-center">
                        <lottie-player class="wt-img" src="https://assets7.lottiefiles.com/packages/lf20_ghv4znos.json" background="transparent" speed="1" loop autoplay></lottie-player>
                    </div>
                    <div>
                        <div class="">
                            <h3 class="text-3xl md:text-4xl xl:text-5xl fontbold">Contests and Workshops <hr class="uk-divider-small-1"></h3>
                            <h6 class="text-base md:text-lg xl:text-xl font-light py-4">In this fast paced world kids need to learn to be competitive, the fastest way to learn is to compete repeatedly. This would make kids to overcome the fear of participation.</h6>
                            <div class="grid grid-cols-2 xl:grid-cols-4 gap-4 grid-rows-1" >
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/cw.png" alt="" width="44" height="44">
                                        <h4 class="">Scenario Analysis</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/cw.png" alt="" width="44" height="44">
                                        <h4 class="">Skill Development</h4>
                                        <div class="dimmer"></div>
                                    </div>
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/cw.png" alt="" width="44" height="44">
                                        <h4 class="">Guest Lecture</h4>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                                <div>
                                    <div class="border p-4 h-32 card3" href="#">
                                        <img src="/img/cw.png" alt="" width="44" height="44">
                                        <h4 class="">more</h4>
                                        <h6></h6>
                                        <div class="dimmer"></div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="pt-8 lg:px-64 px-6">
        <div class="rounded-lg shadow-2xl card-1">
            <div class="p-8 items-center">
                <h1 class="text-center text-4xl font-medium text-white pt-4">Children must be taught how to think, not what to think</h1>
                <a class="flex justify-center items-center" href="register.html"><button class="uk-align-center btn-hover color-4">Join Now</button></a>
            </div>
        </div>
    </div>
</div>