<div>
    <div class="pt-24 lg:px-64 px-6">
        <div class="lg:px-6 lg:pt-8">
            <div class="grid grid-cols-1 xl:grid-cols-2">
                <div>
                    
                    <h1 class="text-2xl font-extrabold lg:text-5xl">What We Think,<span class="invisible"><br></span>We Become</h1>
                    <h3 class="pt-2 lg:pt-6 text-xl font-light lg:text-2xl xl:text-3xl mt-4 mb-8">weThinkk is an online thinking development system that helps children gain essential skills and mindsets to build strong personality in a fun and challenging interactive exploration.</h3>
                    <a href="register.html">
                        <button class="learn-more">
                            <span class="circle" aria-hidden="true">
                            <span class="icon arrow"></span>
                            </span>
                            <span class="button-text"><u>Join Now</u></span>
                        </button>
                    </a>
                </div>
                <div>
                    <lottie-player class="wt-img" src="https://assets10.lottiefiles.com/packages/lf20_agbrq9m7.json" background="transparent" speed="1" loop autoplay></lottie-player>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="feature-1">
    <div class="pt-8 lg:px-64 px-6">
        <h1 class="text-center text-2xl font-extrabold lg:text-5xl">Learn to think like a <span class="typewrite underline--magical" data-period="2000" data-type='["Scientist", "Entrepreneur", "Mathematician", "Physicist", "Developer"]'><span class="wrap"></span></span></h1>
        <p class="text-center text-xl font-light lg:text-2xl xl:text-4xl py-4">Extensive learning program for students grades <span class="orange text-2xl font-light lg:text-3xl xl:text-4xl">4<sup>th</sup></span> to <span class="orange text-2xl font-light lg:text-3xl xl:text-4xl">9<sup>th</sup></span></p>
        <div class="pt-4">
            <div class="grid grid-cols-1 xl:grid-cols-3 grid-rows-2 gap-2">
                <div class="pt-2 px-4 py-8 hover:shadow-xl transform hover:-translate-y-1 duration-500 rounded-xl">
                    <div class="flex items-center justify-center">
                        <img class="" src="img/ct.png" alt="" width="64" height="64">
                    </div>
                    <h3 class="pt-4 text-center text-xl font-medium">Critical Thinking <hr class="uk-divider-small"></h3>
                    <h6 class="pt-4 text-sm md:text-lg xl:text-lg text-center">Helps kids better understand themselves, their motivation and goals. When they can deduce information to find the most important parts and apply those in life, they can change their situation and promote personal growth and overall happiness.</h6>
                </div>
                <div class="pt-2 px-4 py-8 hover:shadow-xl transform hover:-translate-y-1 duration-500 rounded-xl">
                    <div class="flex items-center justify-center">
                        <img src="img/lr.png" alt="" width="64" height="64">
                    </div>
                    <h3 class="pt-4 text-center text-xl font-medium">In-Demand Skills <hr class="uk-divider-small"></h3>
                    <h6 class="pt-4 text-sm md:text-lg xl:text-lg text-center">In this digital age, it is important for the kids to understand the technological skills around them. They would be better equipped to face the future if they have the basic awareness of technology around them.</h6>
                </div>
                <div class="pt-2 px-4 py-8 hover:shadow-xl transform hover:-translate-y-1 duration-500 rounded-xl">
                    <div class="flex items-center justify-center">
                        <img src="img/st.png" alt="" width="64" height="64">
                    </div>
                    <h3 class="pt-4 text-center text-xl font-medium">Scientific Thinking <hr class="uk-divider-small"></h3>
                    <h6 class="pt-4 text-sm md:text-lg xl:text-lg text-center">When encountered with a problem, knowing which skills to utilize, the manner in which to use them and how to work through a process in a logical fashion are essential to growth in understanding.</h6>
                </div>
                <div class="pt-2 px-4 py-8 hover:shadow-xl transform hover:-translate-y-1 duration-500 rounded-xl">
                    <div class="flex items-center justify-center">
                        <img src="img/ams.png" alt="" width="64" height="64">
                    </div>
                    <h3 class="pt-4 text-center text-xl font-medium">Applied Maths and Science <hr class="uk-divider-small"></h3>
                    <h6 class="pt-4 text-sm md:text-lg xl:text-lg text-center">Fundamentals are extremely important in math and science, kids should learn basic concepts with clear clarity and understanding to develop strong foundations rather than stress memorization.</h6>
                </div>
                <div class="pt-2 px-4 py-8 hover:shadow-xl transform hover:-translate-y-1 duration-500 rounded-xl">
                    <div class="flex items-center justify-center">
                        <img src="img/fs.png" alt="" width="64" height="64">
                    </div>
                    <h3 class="pt-4 text-center text-xl font-medium">Fundamental Skills <hr class="uk-divider-small"></h3>
                    <h6 class="pt-4 text-sm md:text-lg xl:text-lg text-center">Helps kids to understand the impact of their actions and teaches them to take responsibility for their actions. Builds confidence both in spoken skills and for group collaboration and cooperation.</h6>
                </div>
                <div class="pt-2 px-4 py-8 hover:shadow-xl transform hover:-translate-y-1 duration-500 rounded-xl">
                    <div class="flex items-center justify-center">
                        <img src="img/cw.png" alt="" width="64" height="64">
                    </div>
                    <h3 class="pt-4 text-center text-xl font-medium">Contests and Workshops <hr class="uk-divider-small"></h3>
                    <h6 class="pt-4 text-sm md:text-lg xl:text-lg text-center">In this fast paced world kids need to learn to be competitive, the fastest way to learn is to compete repeatedly. This would make kids to overcome the fear of participation.</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 lg:px-64 px-6">
        <h1 class="text-center text-lg md:text-xl xl:text-2xl font-medium">All courses are crafted and taught by professionals in subject matter, IIT, IIM graduates and researchers.</h1>
        <div class="flex-col xl:flex-row flex justify-center items-center">
            <a href="curriculum.html"><button class="btn-hover color-4">Explore Curriculum</button></a>
            <span class="px-4"></span>
            <a href="register.html"><button class="btn-hover color-5">Join Now</button></a>
        </div>
    </div>
</div>
<div id="feature-2">
    <div class="pt-8 lg:px-64 px-6">
        <h1 class="text-center text-2xl font-extrabold lg:text-5xl">Why <span class="underline--magical">weThinkk</span> works?</h1>
        <p class="text-center text-lg font-light lg:text-xl xl:text-3xl py-4">WeThinkk helps you understand concepts visually and stucturally, poses questions and assesments that get you to think. Our courses show you the concepts – at their core – a way of thinking!</p>
        <div class="pt-4">
            <div class="grid grid-cols-1 xl:grid-cols-3 grid-rows-1 gap-4 ">
                <div>
                    <div>
                        <div class="flex items-center justify-center">
                            <img src="img/cf.png" alt="" width="84" height="84">
                        </div>
                        <h3 class="pt-4 text-center text-xl font-medium">Adaptive Learning</h3>
                        <h6 class="pt-4 text-center text-sm md:text-lg xl:text-lg">We encourage students to engage actively with teams and compelete the tasks which will be guided by the mentor.</h6>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center">
                            <img src="img/ff.png" alt="" width="84" height="84">
                        </div>
                        <h3 class="pt-4 text-center text-xl font-medium">Freedom to fall</h3>
                        <h6 class="pt-4 text-center text-sm md:text-lg xl:text-lg">The best learners allow themselves to make many mistakes along their journey.</h6>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="flex items-center justify-center">
                            <img src="img/al.png" alt="" width="84" height="84">
                        </div>
                        <h3 class="pt-4 text-center text-xl font-medium">Trusted Content</h3>
                        <h6 class="pt-4 text-center text-sm md:text-lg xl:text-lg">Created by experts, content is provided in such way that it's relevant to age group and easy to understand.</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="feature-3">
    <div class="pt-8 lg:px-64 px-6">
        <div>
            <div class="grid grid-cols-1 grid-rows-3">
                <div class="grid xl:grid-cols-2">
                    <div class="flex items-center justify-center">
                        <img class="wt-subimg" src="/img/Settings.png" alt="">
                    </div>
                    <div>
                        <div class="pt-8">
                            <h3 class="text-2xl md:text-3xl xl:text-5xl font-medium">Nurture your child with exposure to various skills</h3>
                            <h6 class="pt-4 md:text-xl xl:text-2xl font-light leading-relaxed">Today in the rat race of online education focusing on academic subjects and test preparation, children are not taught essential life skills and mindsets required to build strong personality which is very crucial in the present world.</h6>
                        </div>
                    </div>
                </div>
                <div class="grid xl:grid-cols-2 flex">
                    <div class="xl:order-last flex items-center justify-center">
                        <img class="wt-subimg" src="/img/Idea.png" alt="">
                    </div>
                    <div>
                        <div class="pt-8">
                            <h3 class="text-2xl md:text-3xl xl:text-5xl font-medium">It's very essential to learn fundamentals</h3>
                            <h6 class="pt-4  md:text-xl xl:text-2xl font-light leading-relaxed">Eg: How can one code without understanding algorithms and one cannot understand algorithms without basic logical thinking. Children who might not even know about fraction numbers are made to code these days. Guess the quality.</h6>
                        </div>
                    </div>
                </div>
                <div class="grid xl:grid-cols-2">
                    <div class="flex items-center justify-center">
                        <img class="wt-subimg" src="/img/Community.png" alt="" >
                    </div>
                    <div>
                        <div class="pt-8">
                            <h3 class="text-2xl md:text-3xl xl:text-5xl font-medium">Goal should be build a strong personality rather than so-called rich personality</h3>
                            <h6 class="pt-4  md:text-xl xl:text-2xl font-light leading-relaxed">It's very important to make the child capable enough to face different issue of the life. Lot of kids these days are facing depression and whatnot..</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="feature-4">
    <div class="pt-8 lg:px-64 px-6">
        <div class="pt-4">
            <h1 class="text-center xl:px-64 italic xl:text-2xl">“A significantly greater number of students fail science, engineering and math courses that are taught lecture-style than fail in classes incorporating so-called active learning that expects them to participate in discussions and problem-solving beyond what they've memorized.”</h1>
            <p class="text-right pt-4"><u>— Enough with the lecturing, National Science Foundation</u></p>
        </div>
    </div>
</div>
<div id="feature-5">
    <div class="pt-8 lg:px-64 px-6">
        <div class="rounded-lg shadow-2xl card">
            <div class="p-8 items-center shape">
                <h1 class="text-center text-4xl font-medium text-white pt-4">Children must be taught how to think, not what to think</h1>
                <a class="flex justify-center items-center" href="register.html"><button class="uk-align-center btn-hover color-4">Join Now</button></a>
            </div>
        </div>
    </div>
</div>

<script>
    var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
};

TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
    this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
    this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 200 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
    delta = this.period;
    this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
    this.isDeleting = false;
    this.loopNum++;
    delta = 500;
    }

    setTimeout(function() {
    that.tick();
    }, delta);
};

window.onload = function() {
    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-type');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtType(elements[i], JSON.parse(toRotate), period);
        }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
    document.body.appendChild(css);
};


</script>