<div id="footer" class="pt-4">
    <div class="pt-8 lg:px-64 px-6 bg-gray-900">
        <div class="pt-4">
            <div class="grid grid-cols-1 xl:grid-cols-3 grid-rows-1 gap-4">
                <div>
                    <div>
                        <img src="/img/logo.png" alt="" width="300" height="300">
                    </div>
                    <div class="flex pt-8">
                        <i class="fab fa-facebook-f fa-lg pl-8 text-white hover:text-blue-700"></i>
                        <i class="fab fa-twitter fa-lg pl-8 text-white hover:text-blue-300"></i>
                        <i class="fab fa-linkedin-in fa-lg pl-8 text-white hover:text-blue-600"></i>
                        <i class="fab fa-instagram fa-lg pl-8 text-white hover:text-orange-600"></i>
                    </div>
                </div>
                <div>
                    <div class="flex justify-evenly">
                        <a href="about.html" class="pt-8 xl:pt-16 text-white text-xl">About</a>
                        <a href="curriculum.html" class="pt-8 xl:pt-16 text-white text-xl">Curriculum</a>
                        <a href="#" class="pt-8 xl:pt-16 text-white text-xl">Privacy</a>
                    </div>
                </div>
                <div>
                    <div class="ml-2 xl:ml-16 pt-8 xl:pt-4">
                        <h1 class="text-white text-2xl">Contact Us</h1>
                        <div>
                            <div class="flex pt-4">
                                <div>
                                    <i class="far fa-envelope fa-lg text-red-700"></i>
                                </div>
                                <div class="pl-4">
                                    <p class="text-white text-lg">customersupport@wethinkk.com</p>
                                </div>
                            </div>
                            <div class="flex pt-4">
                                <div>
                                    <i class="fas fa-phone-alt fa-lg text-blue-700"></i>
                                </div>
                                <div class="pl-4">
                                    <p class="text-white text-lg">9606607001 / 9606607003</p>
                                </div>
                            </div>
                            <div class="flex pt-4">
                                <div>
                                    <i class="fab fa-whatsapp fa-lg text-green-700"></i>
                                </div>
                                <div class="pl-4">
                                    <p class="text-white text-lg">9606607004</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 xl:p-8">
            <hr>
            <p class="text-center pt-2 text-gray-200">© 2020 weThinkk. All rights reserved</p>
        </div>
    </div>
</div>